body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.legend {
    background: white;
    padding: 10px;
    line-height: 1.5em;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.legend .item {
    margin-bottom: 5px;
}

.legend .color-box {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.senseCobertura, .btn_no { background: red; color: white; }
.ambCobertura, .btn_si { background: green; color: white; }
.proximament, .btn_prox { background: orange; color: white; }
.client { background: blue; }

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1500;
}

.contenedor-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rueda {
    border: 10px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: black;
    width: 80px;
    height: 80px;
    animation: giro 1s linear infinite;
}

@keyframes giro {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* BUSCADOR */
/* Container holding the search elements */
.search-container {
    position: relative; /* Use relative for positioning of inner elements */
    max-width: 600px; /* Limit the width of the search container */
    margin: 20px auto; /* Center the container and give some margin around */
    padding: 20px;
    background-color: #fff; /* Light background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex; /* Flexbox to align children */
    align-items: center; /* Align items vertically in the center */
    gap: 10px; /* Space between elements */
    z-index: 1000;
}

/* Style the input field */
#search-input {
    flex-grow: 1; /* Let it take up as much space as possible */
    border: 2px solid #ddd; /* Subtle border */
    padding: 10px 15px; /* Padding for aesthetics */
    border-radius: 4px; /* Rounded borders for the input */
    outline: none; /* Remove the default focus outline */
    transition: border-color 0.3s ease-in-out; /* Smooth transition for focus */
}

/* Input focus state */
#search-input:focus {
    border-color: #0056b3; /* Highlight color on focus */
}

/* Style for the suggestions dropdown */
#suggestions {
    list-style: none;
    position: absolute; /* Posicionado dentro del search-container */
    top: 100%; /* Justo debajo del campo de búsqueda */
    left: 0;
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    background: #fff;
    margin-top: 2px; /* Pequeño espacio entre el campo de entrada y las sugerencias */
    border-radius: 0 0 8px 8px; /* Redondea solo las esquinas inferiores */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 10; /* Asegúrate de que se muestre sobre otros elementos si es necesario */
    border: 0px solid #ccc; /* Añade un borde sutil */
}


/* Style for each suggestion item */
#suggestions li {
    padding: 10px 15px;
    cursor: pointer; /* Indicate that items are clickable */
    border-bottom: 1px solid #eee; /* Subtle separator */
}

#suggestions li:last-child {
    border-bottom: none; /* No border for the last item */
}

#suggestions li:hover {
    background-color: #f6f6f6; /* Hover state */
}

/* General style for buttons */
button {
    background-color: #007BFF; /* Blue background */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer; /* Indicate button is clickable */
    transition: background-color 0.3s; /* Smooth background color transition */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Specific style for the delete button to make it smaller */
button[type="submit"]:last-of-type {
    background-color: #dc3545; /* Red color for delete */
}

button[type="submit"]:last-of-type:hover {
    background-color: #c82333; /* Darker red on hover */
}

/* Style for the trash icon (assuming Bootstrap Icons are used) */
.bi-trash {
    vertical-align: middle;
}


#suggestions li:hover {
    background-color: #f0f0f0;
}

#btn_login
 {
    position: fixed;  
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #007BFF; /* Color de fondo azul */
    color: white;              /* Texto blanco */
    border: none;              /* Sin borde */
    padding: 8px 16px;         /* Padding para hacerlo más grande */
    border-radius: 4px;        /* Bordes redondeados */
    cursor: pointer;           /* Cursor como puntero para indicar clickeabilidad */
}

#btn_logout
 {
    position: fixed;  
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #ff002b; /* Color de fondo azul */
    color: white;              /* Texto blanco */
    border: none;              /* Sin borde */
    padding: 8px 16px;         /* Padding para hacerlo más grande */
    border-radius: 4px;        /* Bordes redondeados */
    cursor: pointer;           /* Cursor como puntero para indicar clickeabilidad */
}

#btn_register
 {
    position: fixed;  
    top: 10px;
    right: 100px;
    z-index: 1000;
    background-color: #070707; /* Color de fondo azul */
    color: white;              /* Texto blanco */
    border: none;              /* Sin borde */
    padding: 8px 16px;         /* Padding para hacerlo más grande */
    border-radius: 4px;        /* Bordes redondeados */
    cursor: pointer;           /* Cursor como puntero para indicar clickeabilidad */
}
