body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.legend {
    background: white;
    padding: 10px;
    line-height: 1.5em;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.legend .item {
    margin-bottom: 5px;
}

.legend .color-box {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.senseCobertura, .btn_no { background: red; color: white; }
.ambCobertura, .btn_si { background: green; color: white; }
.proximament, .btn_prox { background: orange; color: white; }
.client { background: blue; }

.search-container {
    position: absolute;
    top: 120px; /* Ajustar este valor según la altura de la leyenda */
    left: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#search-form {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 5px;
    font-size: 14px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex-grow: 1;
}

#search-form button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#search-form button:hover {
    background: #0056b3;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1500; /* Asegúrate de que el índice z sea mayor que el de cualquier otro elemento dentro del mapa */
}

.contenedor-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rueda {
    border: 10px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: black; /* Cambia el color superior para que sea visible */
    width: 80px;
    height: 80px;
    animation: giro 1s linear infinite;
}

@keyframes giro {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
